#hero {
    width: 100%;
    margin-top: 70px;
    align-items: center;
}

#hero h1 {
    margin: 3.5rem 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #14279b;
}

#hero h2 {
    color: #484848;
    margin-bottom: 50px;
    font-size: 24px;
}

.btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #14279b;
    border: 2px solid #14279b;
}

.btn-get-started:hover{
    transition: 0.5s;
    background-color: #14279b;
    color: white;
}

#hero .animated {
    animation: up-down 5s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}


.section-title h2::before {
    margin: 0 15px 10px 0;
}
.section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
}

.section-title h2::after {
    margin: 0 0 10px 15px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* clients */
.clients {
    background: #f3f9fd;
    padding: 10px 0;
    text-align: center;
}

.clints-logo {
   padding: 1.5rem 0;
}
.clint-Ro-logo {
    padding: 1rem 0;
 }

.clients img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 10px 0;
}

.clients img:hover{
    filter:none
} 

.about .content ul {
    list-style: none;
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}

.about .content ul li {
  display: flex;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #14279b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #14279b;
}
a {
    color: #14279b;
    text-decoration: none;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #14279b;
    line-height: 1;
}

.about .content ul li + li {
    margin-top: 10px;
}

/* counter */
.counts {
    padding-top: 0;
}

.counts .content {
    padding: 0;
}
.counts .content .count-box {
    padding: 20px 0;
    width: 100%;
}
.counts .content .count-box .counter-icon {
    display: block;
    font-size: 2.7rem;
    color: #14279b;
    float: left;
    line-height: 0;
}
.counts .content .count-box .purecounter {
    font-size: 36px;
    line-height: 30px;
    display: flex;
    font-weight: 700;
    color: #222222;
    margin-left: 3rem;
}
.counts .content .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #484848;
}
.counts .content p {
    margin-bottom: 0;
}

.counts .content .count-box {
    padding: 20px 0;
    width: 100%;
}

/* services */
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.services .icon-box::before {
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #14279b;
    transition: all 0.3s ease-in-out;
}
.services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #14279b;
    transition: all 0.3s ease-in-out;
}
.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .title a {
    color: #111;
}
a {
    color: #14279b;
    text-decoration: none;
}
.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}
.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #14279b;
    transition: all 0.3s ease-in-out;
}

/*more services  */
.more-services {
    padding-top: 20px;
}
.more-services .card {
    border: 0;
    padding: 25px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.more-services .card-body {
    z-index: 10;
    background: #f6f6f6;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.more-services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}
.card-title {
    margin-bottom: .5rem;
}
.more-services .card-title a {
    color: #222222;
}

.more-services .card-text {
    color: #5e5e5e;
}
.more-services .card-body {
    z-index: 10;
    background: #f6f6f6;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
}
/* feature */
.section-title p {
    margin: 15px 0 0 0;
}

.features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 1rem;
    background: #f6f6f6;
    transition: ease-in-out 0.3s;
}
.features .icon-box .icons {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}
.features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}
.features .icon-box h3 a {
    color: #222222;
    transition: ease-in-out 0.3s;
}

/* contact */
.contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #888;
}

.contact .contact-about h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #14279b;
}

.contact .info {
    color: #444444;
    line-height: 60px;
}
.contact .info p {
    padding: 0 1rem;
    line-height: 28px;
    font-size: 14px;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
}
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form button[type="submit"] {
    background: #14279b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}
@media (max-width: 1024px) {
   
    #hero h1 {
        margin: 0rem 0 10px 0;
    }
    .counts .image {
        text-align: center;
    }
    .counts .image {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .clients img {
        width: 40%;
    }

}
@media (max-width: 991px) {
    #hero .hero-img {
        display: flex;
        justify-content: center;
    }
    /* #hero .animated {
        -webkit-animation: none;
        animation: none;
    } */
}
@media (max-width: 667px) {
    .counts .image img {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    
    .clients img {
        width: 30%;
    }
}
